.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 1.5rem;
  width: 1.5rem;
  color: var(--text);
  flex-shrink: 0;
}

.featureCard {
  padding: 1rem;
  background-color: var(--background);
  height: 100%;
}

.headerRow {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.featureSvg {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--text);
  flex-shrink: 0;
}

.featureTitle {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.featureDescription {
  margin-left: calc(1.5rem + 0.5rem);
}


