.navbar-sidebar,
.menu {
    background-color: var(--background);
    color: var(--text);
}
.menu__link,
.navbar-sidebar__item {
    color: var(--text);
}
.menu__link:hover,
.menu__link--active {
    color: var(--primary);
}
