.footer {
    background-color: var(--background);
    color: var(--text);
    border: none !important;
    box-shadow: none !important;
}

.footer__title,
.footer__link-item {
    color: var(--text);
}

.footer__link-item:hover {
    color: var(--primary);
}
